<div class="container">
<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(250,250,250,0.2), rgba(0,0,0,0.4)), url('<%= cl_image_path(cocktail.photo) %>')">
      <h3><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h3>
    </div>
  <% end %>
</div>
</div>

