.navbar-lewagon {
  padding: 30px 100px;
  color: rgb(230, 230, 230);
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.7);
}
.nav-link {
  margin-right: 20px;
}
.logo {
  height: 150px;
}
